<div class="hero-unit">
  <h1 class="text-center"><span class="trust-tan">System</span><span class="auth-green">Overview</span></h1>
</div>
<div class="row">
  <div class="row">
    <div class="span12">
      <p class="trustauth-pad20">Below is a presentation which will give you an understanding of how TrustAuth
      works and the problems it is designed to solve.</p>
      <script async class="speakerdeck-embed" data-id="4fdfab372d2d2f001f011c83" data-ratio="1.299492385786802" src="//speakerdeck.com/assets/embed.js"></script>
    </div>
  </div>
</div>
