<div class="row">
  <div class="page-header">
    <h1>Overview</h1>
  </div>
  <div class="row">
    <div class="span12">
      <p class="trustauth-pad20">Below is a presentation which will give you an understanding of how TrustAuth
      works and the problems it is designed to solve.</p>
      <script async class="speakerdeck-embed" data-id="4f8b8144d80cdf001f006ca6" data-ratio="1.3333333333333333" src="//speakerdeck.com/assets/embed.js"></script>
    </div>
  </div>
</div>
