<div class="row">
  <div class="page-header">
    <h1>Server Setup Details</h1>
  </div>
  <div class="span12">
    <script async class="speakerdeck-embed" data-id="4fdfad31841d9c0022011b10" data-ratio="1.299492385786802" src="//speakerdeck.com/assets/embed.js"></script>
  </div>
</div>
