<% cache('static/server_details') do %>
  <div class="hero-unit">
    <h1 class="text-center"><span class="trust-tan">Server</span><span class="auth-green">Details</span></h1>
  </div>
  <div class="row">
    <div class="span12">
      <script async class="speakerdeck-embed" data-id="4fdfad31841d9c0022011b10" data-ratio="1.299492385786802" src="//speakerdeck.com/assets/embed.js"></script>
    </div>
  </div>
<% end %>
