<% cache('static/tutorial') do %>
  <div class="hero-unit">
    <h1 class="text-center"><span class="trust-tan">Add-on</span><span class="auth-green">Tutorial</span></h1>
  </div>
  <div class="row">
    <div class="row">
      <div class="span12">
        <script async class="speakerdeck-embed" data-id="4fdface7841d9c0022011a8c" data-ratio="1.299492385786802" src="//speakerdeck.com/assets/embed.js"></script>
      </div>
    </div>
  </div>
<% end %>
