.hero-unit {
  background-color: #202328;
}

body {
  padding-top: 60px;
  color: #BBBFC2;
}
.footer {
  padding: 35px 0 36px;
}

#info-row-2 {
  margin-top: 25px;
}

.trustauth-tutorial-li {
  padding-bottom: 40px;
}
.trustauth-tutorial-img {
  margin-top: 20px;
}
.trustauth-pad20 {
  padding: 20px 0;
}

h2,h3,h4,h5 {
  padding: 15px 0;
}
